<div style="background-color:#88d6fa">
<!--               ----------------------------------About us block--------------------------------------->
                <div id="we" class="container" style="padding-top:25px;">
                <div class="row" style="border-top: solid 2px white; padding-top:2%">
                    <div class="col-md-2 col-xs-12 page-head">
                        
                            <h3 style="color:white">Про нас</h3>
                        
                         
                    </div>
                
<!--                    About us container-->
                <div class="col-md-10 col-xs-12">
                 
                  <div class="row row-eq-height">
                      <div uib-carousel active="active" interval="5000" no-wrap="noWrapSlides" template-url="views/kids-carousel.html">
                          
<!--                          Carousel slide-->
                      <div uib-slide index="0">
                          <div class="panel panel-default info-panel" style="min-height:310px; background-color: rgba(255, 255, 255, 0.3); text-align: left">
                            <div class="panel-body">
                                <div class="col-md-6 col-xs-12">
                                  <a href="#">
                                    <img class="img img-responsive" src="assets/promo1.png" alt="who we are">
                                  </a>
                                  </div>
                                  <div class="col-md-6 col-xs-12">
                                    <h3 class="media-heading">Хто ми</h4>
                                    "KIDS" - це товариство викладачів іноземних мов, які пропонують ефективне вивчення англійської та німецької мов шляхом всебічного їх опанування (а саме: граматики, говоріння, письма, читання, сприйняття мови на слух та обов'язково вимови) та "повного занурення" (адже 90% заняття викладається на іноземній мові).
                                  </div>
                              </div>
                          </div>
                      </div>
<!--                          End of carousel slide-->
                          
<!--                          Carousel slide-->
                      <div uib-slide index="1">
                          <div class="panel panel-default info-panel" style="min-height:310px; background-color: rgba(255, 255, 255, 0.3); text-align: left">
                            <div class="panel-body">
                                <div class="col-md-6 col-xs-12">
                                  <a href="#">
                                    <img class="img img-responsive" src="assets/promo2.jpg" alt="promo1-why you should choose us">
                                  </a>
                                  </div>
                                  <div class="col-md-6 col-xs-12">
                                    <h3 class="media-heading">Чому саме ми?</h4>
                                        <ul>
                                            <li>
                                                Ігрова форма навчання
                                            </li>
                                            <li>
                                                Комплексний підхід
                                            </li>
                                            <li>
                                                Інтерактивне викладання
                                            </li>
                                            <li>
                                               Перегляд фільмів в оригіналі
                                            </li>
                                            <li>
                                                Поглиблене вивчення мови
                                            </li>
                                            <li>
                                                Використання сучасних технологій у вивченні іноземних мов
                                            </li>
                                            <li>
                                                Професійні викладачі
                                            </li>
                                            
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
<!--                          End of carousel slide-->
                          
                          
                          <!--                          Carousel slide-->
                      <div uib-slide index="2">
                          <div class="panel panel-default info-panel" style="min-height:310px; background-color: rgba(255, 255, 255, 0.3); text-align: left">
                            <div class="panel-body">
                                <div class="col-md-6 col-xs-12">
                                  <a href="#">
                                    <img class="img img-responsive" src="assets/promo3.jpg" alt="promo3-why you should choose us">
                                  </a>
                                  </div>
                                  <div class="col-md-6 col-xs-12">
                                    <h3 class="media-heading">Ми пропонуємо</h4>
                                        <ul>
                                            <li>
                                                Групові заняття для дітей від 4-х років та дорослих
                                            </li>
                                            <li>
                                                Індивідуальні заняття
                                            </li>
                                            <li>
                                                Дистанційне навчання по Skype та Viber
                                            </li>
                                            <li>
                                               Підготовку до ЗНО та ДПА, TOEFEL та IELTS
                                            </li>
                                            <li>
                                                Корпоративне викладання (із виїздом)
                                            </li>   
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
<!--                          End of carousel slide-->
                          
    
                          
                          
                          <!--                          Carousel slide-->
                      <div uib-slide index="3">
                          <div class="panel panel-default info-panel" style="min-height:310px; background-color: rgba(255, 255, 255, 0.3); text-align: left">
                            <div class="panel-body">
                                <div class="col-md-6 col-xs-12">
                                  <a href="#">
                                    <img class="img img-responsive" src="assets/promo4.jpg" alt="promo3-why you should choose us">
                                  </a>
                                  </div>
                                  <div class="col-md-6 col-xs-12">
                                    <h3 class="media-heading">В нас весело!</h4>
                                  </div>
                         
                              </div>
                          </div>
                      </div>
<!--                          End of carousel slide-->
                          
                            <!--                          Carousel slide-->
                      <div uib-slide index="4">
                          <div class="panel panel-default info-panel" style="min-height:310px; background-color: rgba(255, 255, 255, 0.3); text-align: left">
                            <div class="panel-body">
                                <div class="col-md-6 col-xs-12">
                                  <a href="#">
                                    <img style="height: 210px" class="img img-responsive" src="assets/promo5.jpg" alt="promo3-why you should choose us">
                                  </a>
                                  </div>
                                  <div class="col-md-6 col-xs-12">
                                    <h3 class="media-heading">Запрошуємо вас!</h4>
                                      Наші випускники успішно складають ЗНО, чудово опановують мову, стають переможцями різних мовних конкурсів та олімпіад, а також вступають до найпрестижніших вищих навчальних закладів України та Європи
                                  </div>
                              </div>
                          </div>
                      </div>
<!--                          End of carousel slide-->
                          
                    </div>
                  </div>
                    <!--end of about us block-->
                    </div>
              </div>
                </div>
               <!--end of about us block-->
<!--Teacherssssss------------------------------------------->
               
               
               <div id="teachers" class="container" style="padding-top:4%;" ng-controller="teachersController">
                <div class="row" style="border-top: solid 2px white; padding-top:2%">
                    <div class="col-lg-2 hidden-xs hidden-md hidden-sm page-head">
                        
                            <h3 style="color:white">Вчителі</h3>
                            <button id="add-photo-btn" class="btn btn-danger btn-xs" ng-if="isAdmin()" ng-click="openTeacherEditModal()">Редагувати</button>
                         
                    </div>
                
<!--                   Teachers container-->
                <div class="col-lg-10 col-xs-12">
                    <div ui-view="teacherFrame"></div>
                  
                  </div>
                    <!--end of teachers block-->
                    </div>
              </div>
               

               
<!--               End of Teacherssssss------------------------------------------->
  
           
           
<!--           --------------------------------------Start of Gallery----------------------------------->
           
           
           <div id="gallery" class="container" style="padding-top:4%; padding-bottom:4%;" ng-controller="galleryController">
                <div class="row" style="border-top: solid 2px white; padding-top:2%">
                    <div class="col-md-2 col-xs-12 page-head">
                        
                            <h3 style="color:white">Галерея</h3>
                            <button id="add-photo-btn" class="btn btn-danger btn-xs" ng-if="isAdmin()" ng-click="openAddEventModal()">Додати</button>
                        
                         
                    </div>
                
<!--                    Gallery container-->
                <div class="col-md-10 col-xs-12">
                 
                  <div class="row row-eq-height">
                      <div id="gal-left-btn" class="col-md-1 hidden-xs left-scr">
                          <i class="fa fa-caret-left"></i>
                      </div>
                      <div class="col-xs-12 col-md-10 gal-frame" style="background-color: rgba(255, 255, 255, 0.3)">
                        <div class="gal-container" style="white-space:nowrap">
                          <div ui-view="galleryFrame"></div>
                          <div ui-view="photoDetail"></div>
                           
                        </div>
                         <div class="scrollbar-body"><div class="scrollbar-track"></div></div>
                      </div>
                      <div id="gal-right-btn" class="col-md-1 hidden-xs right-scr">
                            <i class="fa fa-caret-right"></i>
                      </div>
                  </div>
               
                    </div>
              </div>
                </div>
         
           
<!--           --------------------------------------End of gallery------------------------------------->

<script>
   var viewportWidth;
   var ratio;
   var scrollbarWidth = $(".scrollbar-body").width();
   var trackWidth = $(".scrollbar-track").width();
   var scrollPos;
   var trackPos;
   var trackClicked = false;
    function calculateScrollPos() {
       var galleryWidth = document.getElementsByClassName("gal-container")[0].scrollWidth;
       var scrollbarPositionRatio = (parseInt($(".scrollbar-track").css("left"), 10)) / $(".scrollbar-body").width();
       scrollPos = galleryWidth * scrollbarPositionRatio;
       console.log(scrollbarPositionRatio);
    }
    
    function calculateTrackPos() {
       var galleryWidth = document.getElementsByClassName("gal-container")[0].scrollWidth;
       var scrollCorrection = $(".gal-frame").width() / galleryWidth;
       console.log("Scroll correction: "+scrollCorrection);
       galleryWidth -= galleryWidth*scrollCorrection;
       var scrollbarPositionRatio = $('.gal-container').scrollLeft() / galleryWidth;
       trackPos = scrollbarWidth * scrollbarPositionRatio;
       if (trackPos > $(".scrollbar-body").width() - trackWidth) trackPos = $(".scrollbar-body").width() - trackWidth - 2
       console.log(scrollbarPositionRatio);
    }
    
     $(document).ready(function(){
//           $('.gal-container').jScrollPane();
//           Gallery scroll functionality
        function trackMouseDown(e){
               $('.gal-container').off("scroll");
               trackClicked = true;
                $(document).on("mousemove", function(e){
                   var x = e.pageX - $(".scrollbar-body").offset().left;
                   console.log('Scroll body width is: '+$(".scrollbar-body").width())
                   if (x > $(".scrollbar-body").width() - trackWidth)
                       x = $(".scrollbar-body").width() - trackWidth - 2 
                    if (x < 0) x = 0
                   console.log('Gallery scrollbar left position: '+x);
                    $(".scrollbar-track").css("left", x); 
                    calculateScrollPos();
                    $('.gal-container').scrollLeft(scrollPos);
                })
           }
         function galContainerScroll(e){
               calculateTrackPos();
               $(".scrollbar-track").css("left", trackPos);
           }
         
           $('.gal-container').on("scroll", galContainerScroll)
           
           $('.scrollbar-body').on("click", function(e){
                $('.gal-container').off("scroll", galContainerScroll);
                var x = e.pageX - $(this).offset().left;
                console.log('Clicked at: '+x);
                $(".scrollbar-track").css("left", x); 
                calculateScrollPos();
                $('.gal-container').scrollLeft(scrollPos);
                setTimeout(function(){
                    $('.gal-container').on("scroll", galContainerScroll);
                }, 2000)
                
               
           })
           
           $('#gal-right-btn').click(function(){
               console.log('Right gallery button clicked!');
               $('.gal-container').scrollLeft($('.gal-container').scrollLeft()+75);
           })
           
           $('#gal-left-btn').click(function(){
               console.log('Left gallery button clicked!');
               $('.gal-container').scrollLeft($('.gal-container').scrollLeft()-75);
           })
           
           
           $(".scrollbar-track").on("mousedown", trackMouseDown);
           
           
           $(document).on("mouseup", function(e){
               if (trackClicked) {
                   trackClicked = false;
                   console.log('Mouse up fired!');
                   $(document).off("mousemove");
                    $('.gal-container').on("scroll", galContainerScroll)
               }
           })
           
          
      });
      
    </script>