<div class="modal-content">
    <div class="modal-header">
        <h3 class="modal-title">Додати новину <button type="button" class="close" data-dismiss="modal" ng-click="closeModal()" aria-label="Close"><span aria-hidden="true">&times;</span></button></h3>
    </div>
    <div class="modal-body">
<!--                  News add form-->

                  <form novalidate name="newsAddForm">
                    <div class="form-group row">
                      <label for="title" class="col-xs-2 col-form-label">Заголовок:</label>
                      <div class="col-xs-10">
                        <input class="form-control" type="text" id="title" name="title" required ng-model="newsToAdd.title">
                      </div>
                     <div class="col-xs-10 col-xs-offset-2">
                         <span class="form-error-message" ng-show="!newsAddForm.title.$pristine && newsAddForm.title.$invalid">Це поле слід заповнити</span>
                    </div>
                    </div>
                      <div class="form-group row">
                      <label for="title" class="col-xs-2 col-form-label">Фото:</label>
                      <div class="col-xs-10">
                        <input type="file" id="photo" name="photo" onchange="encodeImageFileAsURL()">
                      </div>
                    </div>
                      <div class="row" style="padding-bottom: 10px;">
                        <div id="preview-container" class="col-xs-10 col-xs-offset-2">
                        </div>
                      </div>
                      <div class="form-group row">
                      <label for="title" class="col-xs-2 col-form-label">Автор:</label>
                      <div class="col-xs-10">
                        <input class="form-control" type="text" id="author" name="author" required ng-model="newsToAdd.author">
                      </div>
                    <div class="col-xs-10 col-xs-offset-2">
                         <span class="form-error-message" ng-show="!newsAddForm.author.$pristine && newsAddForm.author.$invalid">Це поле слід заповнити</span>
                    </div>
                    </div>
                      <div class="form-group row">
                      <label for="title" class="col-xs-2 col-form-label">Посада автора:</label>
                      <div class="col-xs-10">
                        <input class="form-control" type="text" id="position" name="position" placeholder="Наприклад, викладач, учень, адміністратор тощо" ng-model="newsToAdd.position">
                      </div>
                    </div>
                      <div class="form-group row">
                      <label for="title" class="col-xs-2 col-form-label">Дата:</label>
                      <div class="col-xs-10">
                        <input class="form-control" type="text" id="date" name="date" placeholder="Наприклад, 13 жовтня 2015" ng-model="newsToAdd.date">
                      </div>
                    </div>
                      <div class="form-group row">
                        <label for="text" class="col-xs-2 col-form-label">Новина</label>
                          <div class="col-xs-10">
                            <textarea class="form-control" id="newsText" id="newsText" rows="15" ng-model="newsToAdd.text"></textarea>
                          </div>
                    <div class="col-xs-10 col-xs-offset-2">
                         <span class="form-error-message" ng-show="!newsAddForm.newsText.$pristine && newsAddForm.newsText.$invalid">Так поспішали, що про новину й забули...</span>
                    </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-xs-offset-4 col-xs-6">
                          <button type="submit" class="btn btn-primary" ng-click="saveNews()">Зберегти</button>
                            <button type="button" class="btn btn-default" ng-click="closeModal()">Скасувати</button>
                        </div>
                      </div>
                  </form>
<!--                  End of news add form-->
    </div>
</div>
<script type='text/javascript'>
  function encodeImageFileAsURL() {

    var filesSelected = document.getElementById("photo").files;
    if (filesSelected.length > 0) {
      var fileToLoad = filesSelected[0];
      var extension = fileToLoad.name.split('.').pop().toLowerCase();
      console.log('Uploaded file extension is: '+extension);

      var fileReader = new FileReader();
      var sourceImage = new Image();
      sourceImage.onload = function() {
            console.log('Getting image dimensions...')
            // `naturalWidth`/`naturalHeight` aren't supported on <IE9. Fallback to normal width/height
            // The natural size is the actual image size regardless of rendering.
            // The 'normal' width/height are for the **rendered** size.

            var width  = sourceImage.naturalWidth  || sourceImage.width;
            var height = sourceImage.naturalHeight || sourceImage.height;
          
            // image resizing
            var canvas = document.createElement("canvas");  
            var ctx = canvas.getContext("2d");   
            var MAX_WIDTH = 800;  
            var MAX_HEIGHT = 800;
            console.log('Loaded image: height - '+height+', width - '+width);
            if (width > height) {  
                if (width > MAX_WIDTH) {  
                    height *= MAX_WIDTH / width;  
                    width = MAX_WIDTH;  
                }  
            } else {  
                if (height > MAX_HEIGHT) {  
                    width *= MAX_HEIGHT / height;  
                    height = MAX_HEIGHT;  
                }  
            }  
            canvas.width = width;  
            canvas.height = height;  
            var ctx = canvas.getContext("2d");  
            ctx.drawImage(sourceImage, 0, 0, width, height);  
          //end of image resizing
        
        var comprSourceData = ''
        if (extension == 'jpeg' || extension == 'jpg') comprSourceData = canvas.toDataURL('image/jpeg', 0.8);
        else comprSourceData = canvas.toDataURL();
          
//        var preview = document.getElementById("img-preview");
        var container = document.getElementById("preview-container");
        while (container.firstChild) {
            container.removeChild(container.firstChild);
        }
        var preview = document.createElement("img");
        preview.onload = function(){
          console.log('Image after compression: height - '+preview.naturalHeight+', width - '+preview.naturalWidth);  
        }
        preview.setAttribute('width', '300px');
        preview.setAttribute('id', 'img-preview');
        preview.src = comprSourceData;
        container.appendChild(preview);
         
        

//        document.getElementById("photo-preview").innerHTML = preview.outerHTML;
//        alert("Converted Base64 version is " + document.getElementById("imgTest").innerHTML);
//        console.log("Converted Base64 version is " + document.getElementById("photo-preview").innerHTML);
        console.log("Converted Base64 version is " + preview.src);

                // Do something with the width and height
            }
        
      fileReader.onload = function(fileLoadedEvent) {
        var width, height;
        var srcData = fileLoadedEvent.target.result; // <--- data: base64
        sourceImage.src = srcData; 
        console.log('Initial base64: '+sourceImage.src);
             
      }
      
      fileReader.readAsDataURL(fileToLoad);
    }
  }
</script>
