<!--                  Edit teachers modal-->
<div class="modal-content">
    <div class="modal-header">
        <h3 class="modal-title">Редагувати вчителів <button type="button" class="close" data-dismiss="modal" ng-click="closeModal()" aria-label="Close"><span aria-hidden="true">&times;</span></button></h3>
    </div>
    <div class="modal-body" ng-repeat="teacher in teachers">
        <div class="media" ng-if="editIndex != teacher._id">
          <a class="media-left" href="#">
            <img class="media-object" style="max-width: 150px" ng-src="{{teacher.photo}}" alt="teacher's photo">
          </a>
          <div class="media-body">
                <h4 class="media-heading">{{teacher.lastName+' '+teacher.firstName}}, <small>{{teacher.position}}</small></h4>
                {{teacher.description}} <br>
                <button type="button" class="btn btn-danger btn-xs" ng-click="deleteTeacher(teacher._id)">Видалити</button>
                <button type="button" class="btn btn-default btn-xs" ng-click="openTeacherEditForm(teacher)">Редагувати</button>
          </div>
             
        </div>
<!--        Teacher edit form-->
        <div ng-if="editIndex == teacher._id" style="background-color: rgba(127, 127, 128, 0.3); padding: 15px;">
        <form name="teacherEditForm" novalidate>
        <div class="form-group row">
          <label for="title" class="col-xs-2 col-form-label">Прізвище:</label>
          <div class="col-xs-10">
            <input class="form-control" type="text" id="lastname" name="lastname" required ng-model="editedTeacher.lastName">
          </div>
            <div class="col-xs-10 col-xs-offset-2">
                <span class="form-error-message" ng-show="(!teacherEditForm.lastname.$pristine || teacherEditForm.$submitted) && teacherEditForm.lastname.$invalid">Це поле слід заповнити</span>
            </div>
        </div>
        <div class="form-group row">
          <label for="title" class="col-xs-2 col-form-label">Ім'я та по батькові:</label>
          <div class="col-xs-10">
            <input class="form-control" type="text" id="firstname" name="firstname" required ng-model="editedTeacher.firstName">
          </div>
            <div class="col-xs-10 col-xs-offset-2">
                <span class="form-error-message" ng-show="(!teacherEditForm.firstname.$pristine || teacherEditForm.$submitted) && teacherEditForm.firstname.$invalid">Це поле слід заповнити</span>
            </div>
        </div>
        <div class="form-group row">
          <label for="title" class="col-xs-2 col-form-label">Посада:</label>
          <div class="col-xs-10">
            <input class="form-control" type="text" id="position" name="position" required ng-model="editedTeacher.position">
          </div>
            <div class="col-xs-10 col-xs-offset-2">
                <span class="form-error-message" ng-show="(!teacherEditForm.position.$pristine || teacherEditForm.$submitted) && teacherEditForm.position.$invalid">Це поле слід заповнити</span>
            </div>
        </div>
      <div class="form-group row">
          <label for="title" class="col-xs-2 col-form-label">Фото:</label>
          <div class="col-xs-10">
            <input type="file" id="photo" name="photo" onchange="encodeImageFileAsURL()" required>
          </div>
        </div>
            <div class="row" style="padding-bottom: 10px;">
                        <div id="preview-container" class="col-xs-10 col-xs-offset-2">
                            <img id="img-preview" style="max-width: 300px" ng-src="{{teacher.photo}}" >
                        </div>
                        <input type="text" id="teacherPhotoBase64" ng-model="editedTeacher.photo" style="visibility:hidden">
            </div>
            <div class="col-xs-10 col-xs-offset-2">
                <span class="form-error-message" ng-show="(!teacherEditForm.photo.$pristine || teacherEditForm.$submitted) && teacherEditForm.photo.$invalid">Це поле слід заповнити</span>
            </div>
            <div class="form-group row">
                <label for="text" class="col-xs-2 col-form-label">Коротка інформація: </label>
                  <div class="col-xs-10">
                    <textarea class="form-control" id="text" rows="4" id="description" name="description" ng-model="editedTeacher.description" required></textarea>
                  </div>
                <div class="col-xs-10 col-xs-offset-2">
                    <span class="form-error-message" ng-show="(!teacherEditForm.description.$pristine || teacherEditForm.$submitted) && teacherEditForm.description.$invalid">Це поле слід заповнити</span>
            </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-3 col-xs-6">
                    <button type="submit" class="btn btn-primary btn-xs" ng-click="saveTeacherChanges(teacher)">Зберегти зміни</button>
                    <button type="button" class="btn btn-info btn-xs" ng-click="cancelTeacherChanges()">Скасувати</button>
                </div>
            </div>
        </form>
            
        </div>
<!--        End of teacher edit form-->
    </div>
    <div class="row" style="margin-top: 10px; margin-bottom: 25px;">
        <div class="col-xs-4">
            <button type="button" class="btn btn-success btn-xs" ng-click="openAddTeacherForm()">Додати вчителя</button>
        </div>
    </div>
    <div class="row">
        <!--        Teacher add form-->
        <div ng-if="showAddTeacherForm" style="background-color: rgba(127, 127, 128, 0.3); padding: 15px;">
        <form name="teacherAddForm" novalidate>
        <div class="form-group row">
          <label for="title" class="col-xs-2 col-form-label">Прізвище:</label>
          <div class="col-xs-10">
            <input class="form-control" type="text" id="lastname" name="lastname" required ng-model="teacherForAdd.lastName">
          </div>
            <div class="col-xs-10 col-xs-offset-2">
                <span class="form-error-message" ng-show="(!teacherAddForm.lastname.$pristine || teacherAddForm.$submitted) && teacherAddForm.lastname.$invalid">Це поле слід заповнити</span>
            </div>
        </div>
        <div class="form-group row">
          <label for="title" class="col-xs-2 col-form-label">Ім'я та по батькові:</label>
          <div class="col-xs-10">
            <input class="form-control" type="text" id="firstname" name="firstname" required ng-model="teacherForAdd.firstName">
          </div>
            <div class="col-xs-10 col-xs-offset-2">
                <span class="form-error-message" ng-show="(!teacherAddForm.firstname.$pristine || teacherAddForm.$submitted) && teacherAddForm.firstname.$invalid">Це поле слід заповнити</span>
            </div>
        </div>
        <div class="form-group row">
          <label for="title" class="col-xs-2 col-form-label">Посада:</label>
          <div class="col-xs-10">
            <input class="form-control" type="text" id="position" name="position" required ng-model="teacherForAdd.position">
          </div>
            <div class="col-xs-10 col-xs-offset-2">
                <span class="form-error-message" ng-show="(!teacherAddForm.position.$pristine || teacherAddForm.$submitted) && teacherAddForm.position.$invalid">Це поле слід заповнити</span>
            </div>
        </div>
      <div class="form-group row">
          <label for="title" class="col-xs-2 col-form-label">Фото:</label>
          <div class="col-xs-10">
            <input type="file" id="photo" name="photo" required onchange="encodeImageFileAsURL()">
          </div>
          <div class="col-xs-10 col-xs-offset-2">
                <span class="form-error-message" ng-show="teacherAddForm.$submitted && (teacherForAdd.photo.length <= 0)">Додайте, будь ласка, фото!</span>
            </div>
        </div>
            <div class="row" style="padding-bottom: 10px;">
                        <div id="preview-container" class="col-xs-10 col-xs-offset-2">
                            <img id="img-preview" style="max-width: 300px" ng-src="{{teacher.photo}}" >
                        </div>
                        <input type="text" id="teacherPhotoBase64" ng-model="editedTeacher.photo" style="visibility:hidden">
            </div>
            
            <div class="form-group row">
                <label for="text" class="col-xs-2 col-form-label">Коротка інформація: </label>
                  <div class="col-xs-10">
                    <textarea class="form-control" id="text" rows="4" id="description" name="description" ng-model="teacherForAdd.description" required></textarea>
                  </div>
                <div class="col-xs-10 col-xs-offset-2">
                    <span class="form-error-message" ng-show="(!teacherAddForm.description.$pristine || teacherAddForm.$submitted) && teacherAddForm.description.$invalid">Це поле слід заповнити</span>
                </div>
              </div>
            <div class="row">
                <div class="col-xs-offset-4 col-xs-6">
                    <button type="submit" class="btn btn-primary btn-xs" ng-click="addTeacher()">Додати</button>
                    <button type="button" class="btn btn-info btn-xs" ng-click="cancelTeacherAdd()">Скасувати</button>
                </div>
            </div>
        </form>    
        </div>
<!--        End of teacher add form-->
    
    </div>
    <div class="panel-footer">
        <div class="row">
        <div class="col-xs-offset-3 col-xs-6">
            <button type="button" class="btn btn-primary" ng-click="saveChanges()">Зберегти зміни</button>
            <button type="button" class="btn btn-info" ng-click="closeModal()">Скасувати</button>
        </div>
    </div>
    </div>
    

</div>
                  
<!--                  End of Edit teachers modal-->

<!--Teacher photo upload-->
<script type='text/javascript'>
  function encodeImageFileAsURL() {

    var filesSelected = document.getElementById("photo").files;
    if (filesSelected.length > 0) {
      var fileToLoad = filesSelected[0];
      var extension = fileToLoad.name.split('.').pop().toLowerCase();
      console.log('Uploaded file extension is: '+extension);

      var fileReader = new FileReader();
      var sourceImage = new Image();
      sourceImage.onload = function() {
            console.log('Getting image dimensions...')
            // `naturalWidth`/`naturalHeight` aren't supported on <IE9. Fallback to normal width/height
            // The natural size is the actual image size regardless of rendering.
            // The 'normal' width/height are for the **rendered** size.

            var width  = sourceImage.naturalWidth  || sourceImage.width;
            var height = sourceImage.naturalHeight || sourceImage.height;
          
            // image resizing
            var canvas = document.createElement("canvas");  
            var ctx = canvas.getContext("2d");   
            var MAX_WIDTH = 200;  
            var MAX_HEIGHT = 200;
            console.log('Loaded image: height - '+height+', width - '+width);
            if (width > height) {  
                if (width > MAX_WIDTH) {  
                    height *= MAX_WIDTH / width;  
                    width = MAX_WIDTH;  
                }  
            } else {  
                if (height > MAX_HEIGHT) {  
                    width *= MAX_HEIGHT / height;  
                    height = MAX_HEIGHT;  
                }  
            }  
            canvas.width = width;  
            canvas.height = height;  
            var ctx = canvas.getContext("2d");  
            ctx.drawImage(sourceImage, 0, 0, width, height);  
          //end of image resizing
        
        var comprSourceData = ''
        if (extension == 'jpeg' || extension == 'jpg') comprSourceData = canvas.toDataURL('image/jpeg', 0.8);
        else comprSourceData = canvas.toDataURL();
        var preview = document.getElementById("img-preview");
        preview.onload = function(){
          console.log('Image after compression: height - '+preview.naturalHeight+', width - '+preview.naturalWidth);  
        }
        preview.setAttribute('width', '300px');
        preview.src = comprSourceData;
        document.getElementById("teacherPhotoBase64").value = comprSourceData;
        
         
        

//        document.getElementById("photo-preview").innerHTML = preview.outerHTML;
//        alert("Converted Base64 version is " + document.getElementById("imgTest").innerHTML);
//        console.log("Converted Base64 version is " + document.getElementById("photo-preview").innerHTML);
        console.log("Converted Base64 version is " + preview.src);

                // Do something with the width and height
            }
        
      fileReader.onload = function(fileLoadedEvent) {
        var width, height;
        var srcData = fileLoadedEvent.target.result; // <--- data: base64
        sourceImage.src = srcData; 
        console.log('Initial base64: '+sourceImage.src);
             
      }
      
      fileReader.readAsDataURL(fileToLoad);
    }
  }
</script>