<div class="modal-content">
    <div class="modal-header">
        <h3 class="modal-title">Редагування події <button type="button" class="close" data-dismiss="modal" ng-click="closeModal()" aria-label="Close"><span aria-hidden="true">&times;</span></button></h3>
    </div>
    <div class="modal-body">
        <form name="eventAddForm">
            <div class="form-group row">
              <label for="title" class="col-xs-2 col-form-label">Назва:</label>
              <div class="col-xs-10">
                <input class="form-control" type="text" id="title" name="title" required ng-model="editedEvent.name">
              </div>
            </div>
            <div class="form-group row">
              <label for="date" class="col-xs-2 col-form-label">Дата:</label>
              <div class="col-xs-10">
                <input class="form-control" type="text" id="title" name="title" required ng-model="editedEvent.date">
              </div>
            </div>
            <div class="form-group row">
          <label for="photo" class="col-xs-2 col-form-label">Фото:</label>
          <div class="col-xs-10">
            <input type="file" id="photo" name="photo" onchange="encodeImageFileAsURL()" multiple>
          </div>
        </div>
            <div class="row" style="padding-bottom: 10px;">
                <div id="preview-container" class="col-xs-10 col-xs-offset-2">
                    <div class="preview-box" ng-repeat="photo in editedEvent.photos">
                        <i class="preview-close" ng-click="deletePhoto(photo._id)">&times;</i>
                        <img ng-src="{{photo.ref}}" class="preview-image">
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-offset-4 col-xs-6">
                  <button type="submit" class="btn btn-primary" ng-click="saveChanges()">Зберегти</button>
                    <button type="button" class="btn btn-danger" ng-click="deleteEvent()">Видалити подію</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!--Event photos upload-->
<script type='text/javascript'>   
  function encodeImageFileAsURL() {
    
    var container = document.getElementById("preview-container");
    var filesSelected = document.getElementById("photo").files;
    if (filesSelected.length > 0) {
    console.log(filesSelected.length+' files loaded...');
    for (var i = 0; i < filesSelected.length; i++) {  
      var fileReader = new FileReader();       
        fileReader.onload = function(fileLoadedEvent) {
            var uploadStatus = document.createElement("p");
            uploadStatus.innerHTML = "Завантажую..."
            uploadStatus.classList.add('upload-message');
            container.appendChild(uploadStatus);
            var photoInd = i;
            var srcData = fileLoadedEvent.target.result; // <--- data: base64
            var sourceImage = new Image();
            sourceImage.onload = function() {
            console.log('Getting image dimensions...')
            // `naturalWidth`/`naturalHeight` aren't supported on <IE9. Fallback to normal width/height
            // The natural size is the actual image size regardless of rendering.
            // The 'normal' width/height are for the **rendered** size.

            var width  = sourceImage.naturalWidth  || sourceImage.width;
            var height = sourceImage.naturalHeight || sourceImage.height;
          
            // image resizing
            var canvas = document.createElement("canvas");  
            var ctx = canvas.getContext("2d");   
            var MAX_WIDTH = 800;  
            var MAX_HEIGHT = 800;
            console.log('Loaded image: height - '+height+', width - '+width);
            if (width > height) {  
                if (width > MAX_WIDTH) {  
                    height *= MAX_WIDTH / width;  
                    width = MAX_WIDTH;  
                }  
            } else {  
                if (height > MAX_HEIGHT) {  
                    width *= MAX_HEIGHT / height;  
                    height = MAX_HEIGHT;  
                }  
            }  
            canvas.width = width;  
            canvas.height = height;  
            var ctx = canvas.getContext("2d");  
            ctx.drawImage(sourceImage, 0, 0, width, height);  
          //end of image resizing
        
            var comprSourceData = ''
            if (extension == 'jpeg' || extension == 'jpg') comprSourceData = canvas.toDataURL('image/jpeg', 0.8);
            else comprSourceData = canvas.toDataURL();
            
            //add preview to the DOM
            container.getElementsByClassName("upload-message")[0].remove()
            var previewBox = document.createElement('div');
            previewBox.classList.add('preview-box');
            previewBox.id = new Date().getMilliseconds();
            var closeButton = document.createElement('span');
            closeButton.classList.add('preview-close');
            closeButton.innerHTML = '&times;';
            closeButton.addEventListener('click', function(){
                document.getElementById(previewBox.id).remove();
                files.splice(photoInd, 1);
            })
            var previewImage = document.createElement('img');
            previewImage.classList.add('preview-image');
            previewImage.classList.add('new-image');
            console.log(previewBox.getAttribute('display'));
            previewImage.setAttribute('width', '300px');
            previewImage.setAttribute('new', 'yes');
            previewImage.src = comprSourceData;
            previewBox.appendChild(closeButton);
            previewBox.appendChild(previewImage);
            container.appendChild(previewBox);




    //        document.getElementById("photo-preview").innerHTML = preview.outerHTML;
    //        alert("Converted Base64 version is " + document.getElementById("imgTest").innerHTML);
    //        console.log("Converted Base64 version is " + document.getElementById("photo-preview").innerHTML);
            console.log("Converted Base64 version is " + preview.src);

                // Do something with the width and height
            }
            sourceImage.src = srcData; 
            console.log('Initial base64: '+sourceImage.src);
          }
        
          var fileToLoad = filesSelected[i];
          var extension = fileToLoad.name.split('.').pop().toLowerCase();
          console.log('Uploaded file extension is: '+extension);
          fileReader.readAsDataURL(fileToLoad);
        }
        document.getElementById("photo").value = '';
    }
  }
</script>