<div class="row">
            <div id="footer">
              <div class="row footer-row">
                <div class="col-xs-12 col-sm-4 left-col">
                    <ul class="list-unstyled">
                        <li><a ui-sref="app({scrollTo:'news'})">Що нового</a></li>
                        <li><a ui-sref="app.aboutus({scrollTo:'we'})">Наша школа</a></li>
                        <li><ul>
                            <li><a ui-sref="app.aboutus({scrollTo:'we'})">Про нас</a></li>
                            <li><a ui-sref="app.aboutus({scrollTo:'teachers'})">Вчителі</a></li>
                            <li><a ui-sref="app.aboutus({scrollTo:'gallery'})">Галерея</a></li>
                            </ul></li>
                        <li><a ui-sref="app.services({scrollTo:'english'})">Послуги</a></li>
                        <li><ul>
                            <li><a ui-sref="app.services({scrollTo:'english'})">Англійська мова</a></li>
                            <li><a ui-sref="app.services({scrollTo:'german'})">Німецька мова</a></li>
                            <li><a ui-sref="app.services({scrollTo:'other'})">Інші</a></li>
                            </ul></li>
                        <li><a ui-sref="app.passtest_initial">Пройти тест</a></li>
                        <li><a ui-sref="app.contactus">Контакти</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 left-col">
                    <address>
                        <h4>KIDS</h4>
                        <p>Товариство об'єднаних репетиторів<br>
                           м. Хмельницький,<br>
                           мкрн Ракове,
                           вулиця Народної Волі, 1а, корп. 1 
                        </p>
                        <i class="fa fa-phone"></i> +380631773311<br>
		              <i class="fa fa-envelope"></i> <a href="mailto:confusion@food.net"> kate_ivasenko5@i.ua</a>
                    </address>
                  </div>
                <div class="col-xs-12 col-sm-4 edge-col">
                      <p class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><br>
                      <a href="https://vk.com/kids_khm"><i class="fa fa-vk"></i></a></p>
                </div>
            </div>
                <div class="row">
                    <div class="col-xs-offset-3 col-xs-6 col-sm-offset-5 col-sm-4">
                        <p>Created by <a href="mailto:petrodzher@gmail.com">off-sky</a></p>
                    </div>
                </div>
            </div>
          </div>