<div class="panel panel-default">
    <div class="row" style="padding:5px">
        <div class="col-xs-1 col-xs-offset-11">
             <button type="button" class="close" data-dismiss="modal" ng-click="closeModal()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
    </div>
   
    <div class="panel-body">
        <div class="row row-eq-height">
            <div class="col-xs-1 news-detail-button" ng-click="previousNews()">
                <i class="fa fa-caret-left"></i>
            </div>
            <div class="col-xs-10 photo-detail-div">
                <img ng-src="{{newsDetailed.photo}}" class="img img-responsive photo-detail-photo">
                <div class="row">
                    <div class="col-xs-12" style="max-height: 200px; overflow-y:scroll">
                        <h2>{{newsDetailed.title}}</h2>
                    <h3>{{newsDetailed.author}}<small><span ng-if="newsDetailed.position && newsDetailed.position.length > 0">{{', '+newsDetailed.position}}</span></small></h3>
                    <h3>{{newsDetailed.date}}</h3>
                    <p>{{newsDetailed.text}}</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-1 news-detail-button" ng-click="nextNews()">
                <i class="fa fa-caret-right"></i>
            </div>
        </div>
    </div>
</div>