
<div class="row row-eq-height">
                      <div id="teacher-left" class="col-md-1 left-scr" ng-click="scrollTeacherPrevious()">
                          <i class="fa fa-caret-left"></i>
                      </div>
                      <div class="col-xs-12 col-md-10" style="overflow:hidden;">
<!--                        Teacher's view here-->
                          <div class="teacherFrame" style="overflow-X:hidden; overflow-Y: visible; white-space: nowrap; margin-bottom: -20px;">
                                <div ui-view="teacherFrame"></div>
                                <div class="col-md-3 col-sm-4 teacher-box teacherMinus">
                                    <div class="col-xs-12" ng-if="teacherMinus.photo != ''">
                                        <a ui-sref="app.aboutus.teacher({teacherId: teacherMinus._id})"><img ng-src="{{teacherMinus.photo}}" class="img img-thumbnail" style="max-height:200px"></a>
                                    </div>
                                    <div class="col-xs-12" style="padding-top:12px;">
                                        <div class="teacher-text">
                                            <a ui-sref="app.aboutus.teacher({teacherId: teacherMinus._id})"><h4>{{teacherMinus.lastName+' '+teacherMinus.firstName}}</h4></a>
                                        <small>{{teacherMinus.position}}</small><br>
                                        {{teacherMinus.description}}
                                        </div>
                                        <a ui-sref="app.aboutus.teacher({teacherId: teacherMinus._id})"><button class="btn btn-primary btn-xs">Більше...</button></a>
                                    </div>
                                </div>
                          
                                <div class="col-md-3 col-sm-4 col-xs-12 teacher-box teacherOne" ng-class="{animateLeft: moveLeft, animateRight:moveRight}">
                                    <div class="col-xs-12" ng-if="teacherOne.photo != ''">
                                        <a ui-sref="app.aboutus.teacher({teacherId: teacherOne._id})"><img ng-src="{{teacherOne.photo}}" class="img img-thumbnail" style="max-height:200px"></a>
                                    </div>
                                    <div class="col-xs-12" style="padding-top:12px;">
                                        <div class="teacher-text">
                                            <a ui-sref="app.aboutus.teacher({teacherId: teacherOne._id})"><h4>{{teacherOne.lastName+' '+teacherOne.firstName}}</h4></a>
                                        <small>{{teacherOne.position}}</small><br>
                                        {{teacherOne.description}}
                                        </div>
                                        <a ui-sref="app.aboutus.teacher({teacherId: teacherOne._id})"><button class="btn btn-primary btn-xs">Більше...</button></a>
                                    </div>
                                </div>
                                
                                <div class="col-md-3 col-sm-4 col-xs-12 teacher-box teacherTwo">
                                    <div class="col-xs-12" ng-if="teacherTwo.photo != ''">
                                        <a ui-sref="app.aboutus.teacher({teacherId: teacherTwo._id})"><img ng-src="{{teacherTwo.photo}}" class="img img-thumbnail" style="max-height:200px"></a>
                                    </div>
                                    <div class="col-xs-12" style="padding-top:12px;">
                                        <div class="teacher-text">
                                            <h4><a ui-sref="app.aboutus.teacher({teacherId: teacherTwo._id})">{{teacherTwo.lastName+' '+teacherTwo.firstName}}</a></h4>
                                            <small>{{teacherTwo.position}}</small><br>
                                        {{teacherTwo.description}}
                                        </div>
                                        <a ui-sref="app.aboutus.teacher({teacherId: teacherTwo._id})"><button class="btn btn-primary btn-xs">Більше...</button></a>
                                    </div>
                                </div>
                            
                                <div class="col-md-3 col-sm-4 col-xs-12 teacher-box teacherThree">
                                    <div class="col-xs-12" ng-if="teacherThree.photo != ''">
                                        <a ui-sref="app.aboutus.teacher({teacherId: teacherThree._id})"><img ng-src="{{teacherThree.photo}}" class="img img-thumbnail" style="max-height:200px"></a>
                                    </div>
                                    <div class="col-xs-12" style="padding-top:12px;">
                                        <div class="teacher-text">
                                            <a ui-sref="app.aboutus.teacher({teacherId: teacherThree._id})"><h4>{{teacherThree.lastName+' '+teacherThree.firstName}}</h4></a>
                                            <small>{{teacherThree.position}}</small><br>
                                        {{teacherThree.description}}
                                        </div>
                                        <a ui-sref="app.aboutus.teacher({teacherId: teacherThree._id})"><button class="btn btn-primary btn-xs">Більше...</button></a>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4 teacher-box teacherPlus" ng-class="{animateLeft: moveLeft, animateRight:moveRight}">
                                    <div class="col-xs-12" ng-if="teacherPlus.photo != ''">
                                        <a ui-sref="app.aboutus.teacher({teacherId: teacherPlus._id})"><img ng-src="{{teacherPlus.photo}}" class="img img-thumbnail" style="max-height:200px"></a>
                                    </div>
                                    <div class="col-xs-12" style="padding-top:12px;">
                                        <div class="teacher-text">
                                            <a ui-sref="app.aboutus.teacher({teacherId: teacherPlus._id})"><h4>{{teacherPlus.lastName+' '+teacherPlus.firstName}}</h4></a>
                                        <small>{{teacherPlus.position}}</small><br>
                                        {{teacherPlus.description}}
                                        </div>
                                        <a ui-sref="app.aboutus.teacher({teacherId: teacherPlus._id})"><button class="btn btn-primary btn-xs">Більше...</button></a>
                                    </div>
                                </div>
<!--
                                <div class="col-xs-11 hidden-sm hidden-md hidden-lg hidden-xl xs-teacher-box teacher-detail" style="white-space: normal; left: 20%; max-width:45%;">
                                    <a ui-sref="app.aboutus.teacher({teacherId: teacherCur.id})"><img ng-src="{{teacherCur.photo}}" class="img img-thumbnail" style="max-height:150px; "></a><br>
                            
                                    <a ui-sref="app.aboutus.teacher({teacherId: teacherCur.id})"><h3>{{teacherCur.lastName}}</h3></a>
                                    <a ui-sref="app.aboutus.teacher({teacherId: teacherCur.id})"><h3>{{teacherCur.firstName}}</h3></a>
                                   <h4>{{teacherCur.position}}</h4>
                                    <div style="overflow: hidden; max-height: 200px;">
                                        <p>{{teacherCur.description}}</p>
                                    </div>
                                                                
                                    <a ui-sref="app.aboutus.teacher({teacherId: teacherCur.id})"><button class="btn btn-primary btn-xs">Більше...</button></a>
                                                            
                                               

                                    
                                    </div>
-->
                              
                            </div>
</div>
                  
                      <div id="teacher-right" class="col-md-1 right-scr" ng-click="scrollTeacherNext()">
                          <i class="fa fa-caret-right"></i>
                      </div>
</div>
                    

<script>
     $(document).ready(function(){
          var busy = false;
          var positions = ['0%', '22%', '42%', '62%', '80%'];
          var zoomW = 1.2, zoomH = 1.1;
         
          $('.teacherFrame').scrollLeft(250);
          var indexToScale = Math.floor(positions.length/2);
          var counter = 0;         
          $('.teacher-box').eq(indexToScale).transition({scale: [zoomW, zoomH], 'top':'-=25px'});
          var posScaleIn = positions[indexToScale];
          var posScaleOutLeft = positions[indexToScale-1];
          var posScaleOutRight = positions[indexToScale+1];
          var posZeroOpacityLeft = positions[positions.length-1];
          var posZeroOpacityRight = positions[0];
         
          
          
          console.log('Positions: '+ positions.length);
          console.log(positions);
          console.log('posScaleIn '+ posScaleIn);
          console.log('posScaleOutLeft '+ posScaleOutLeft);
          console.log('posScaleOutRight '+ posScaleOutRight);
          console.log('posZeroOpacityLeft '+ posZeroOpacityLeft);
          console.log('posZeroOpacityRight '+ posZeroOpacityRight);
         
         
           
           
//           Teacher scroll functionality
           $('#teacher-right, .right-scr-sm').click(function(){
               console.log('Scrolling teachers left...');
               if (!busy) {
                   busy = true;
                    var loopCounter = 0;
                   positions.unshift(positions.pop());
                   console.log('Shiftin to values...')
                   console.log(positions);
                   $('.teacher-box').each(function(){
                       if($(this).css('display') == 'none') return;
                       var newPos = positions[loopCounter];
                       if (newPos == posScaleIn) {
                            $(this).on("leftscr", function(){
                                $(this).transition({'top': '-=25px', 'left': newPos, scale: [zoomW, zoomH]});
                            })
                        } else if (newPos == posScaleOutLeft) {
                            $(this).on("leftscr", function(){
                                $(this).transition({'top': '+=25px', 'left': newPos, scale: [1, 1]});
                            })
                        }  else if (newPos == posZeroOpacityLeft) {
                            $(this).on("leftscr", function(){
                                $(this).transition({'opacity':'0.0'});
                                $(this).transition({'left': newPos});
                                $(this).transition({"opacity": "1.0"});
                            })
                        }  else {
                            $(this).on("leftscr", function(){
                                 $(this).transition({'left': newPos});
                            })
                        }

                       loopCounter++;

                   })
                   $(".teacher-box").trigger("leftscr");
                    console.log("Left scroll triggered");
                   
                   $(".teacher-box").off("leftscr");
                   $('.teacherFrame').scrollLeft(250);
                   setTimeout(function() {
                     busy = false;  
                   }, 500)
               
                   
               } else {
                   console.log('Sorry, was busy...');
               }
               
           });
           
          
          $('#teacher-left, .left-scr-sm').click(function(){
               console.log('Scrolling teachers right...');
               if (!busy) {
                   busy = true;
                   var loopCounter = 0;
                   positions.push(positions.shift());
                   console.log('Shiftin to values...')
                   console.log(positions);
                   $('.teacher-box').each(function(){
                       if($(this).css('display') == 'none') return;
                       var newPos = positions[loopCounter];
                       if (newPos == posScaleIn) {
                           $(this).on("rightscr", function(){
                                $(this).transition({'top': '-=25px', 'left': newPos, scale: [zoomW, zoomH]});
                           })
                        } else if (newPos == posScaleOutRight) {
                            $(this).on("rightscr", function(){
                                $(this).transition({'top': '+=25px', 'left': newPos, scale: [1, 1]});
                            })
                        }  else if (newPos == posZeroOpacityRight) {
                            $(this).on("rightscr", function(){
                                $(this).transition({'opacity':'0.0'});
                                $(this).transition({'left': newPos});
                                $(this).transition({"opacity": "1.0"});
                            })
                        }  else {
                            $(this).on("rightscr", function(){
                                $(this).transition({'left': newPos});
                            })
                        }

                       loopCounter++;

                   })
                   $(".teacher-box").trigger("rightscr");
                    console.log("Right scroll triggered");
                   
                   $(".teacher-box").off("rightscr");
                   $('.teacherFrame').scrollLeft(250);
                   setTimeout(function() {
                    busy = false;  
                   }, 500)
               
                   
               } else {
                   console.log('Sorry, was busy...');
               }
           });
//           End of teacher scroll functionality
          
      });


</script>