<div style="background-color:#88d6fa">
<div id="contactus" class="container" style="padding-top:25px;">
                <div class="row" style="border-top: solid 2px white; padding-top:2%">
                    <div class="col-md-2 col-xs-12 page-head">
                        
                            <h3 style="color:white">Контактна інформація</h3>
                        
                         
                    </div>
                
<!--                    About us container-->
                <div class="col-md-10 col-xs-12">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="panel panel-default address-panel">
                              <div class="panel-body">
                                     <address>
                                        <h4>KIDS</h4>
                                        <p>Товариство об'єднаних репетиторів<br>
                                           м. Хмельницький,<br>
                                           мкрн Ракове,
                                           вулиця Народної Волі, 1а, корп. 1
                                        </p>
                                        <i class="fa fa-phone"></i> +380631773311<br>
                                      <i class="fa fa-envelope"></i> <a href="mailto:confusion@food.net"> kate_ivasenko5@i.ua</a>
                                    </address>
                              </div>
                            </div>
                        </div>
                    </div>
                     <div class="row">
                        <div class="col-xs-12">
                            <div class="panel panel-default address-panel">
                              <div class="panel-body">
                                  
                                     <div id="map" ng-click="toggleMap()"><img id="map-img" ng-src="{{mapUrl}}" alt="map" class="img img-thumbnail"></div>
                                    <br>
                                  
                                    <p>{{mapText}}</p>
                                  
                              </div>
                            </div>
                        </div>
                    </div>
                  
                   
                </div>
              </div>
        </div>
    </div>