
<div style="background-color:#88d6fa;">
<div class="container" style="padding-top: 120px; padding-bottom: 130px">

<uib-accordion close-others="true">               
        <div uib-accordion-group ng-repeat="test in tests" class="panel-default" heading="{{test.name}}" is-open="false" is-disabled="false">
              <div class="panel-body">
                  <div class="row">
                    <div class="col-xs-12">
                      <p>{{test.description}}</p>
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-xs-12">
                          <form class="form-inline" id="passTestInitial" name="passTestInitial">
                              <div class="form-group">
                                <label class="control-label" for="email">Запам'ятати мій результат: </label>
                                <input type="checkbox" id="remember" ng-model="testDetails.remember" ng-click="printRemember()">
                              </div>
                              <div class="form-group" ng-if="testDetails.remember" style="padding-left: 25px;">
                                <label class="control-label" for="email">Прізвище та ім'я</label>
                                <input type="text" class="form-control" id="username" ng-model="testDetails.username" required>
                              </div>
                              <div class="form-group" ng-class="{'has-error': wrongCaptcha}" ng-if="testDetails.remember" style="padding-left: 25px;">
                                <img ng-src="{{captcha.pic}}" style="width: 100px">
                                <input type="text" class="form-control" id="captcha" ng-model="captcha.input" placeholder="Введіть текст з картинки" required>
                              </div>
                              <div class="row" ng-if="testDetails.remember" style="padding-bottom: 25px;">
                                <span>Ваш результат зберігатиметься протягом 31 дня. Пройшовши тест, скопіюйте посилання на результат в адресній стрічці браузера.</span>
                              </div>
                              <div class="form-group" style="padding-left: 20px">
                                <button class="btn btn-success btn-sm" ng-click="generateTest(test.alias, test.name)">Розпочати тест</button>
                              </div>
                          </form>
                        </div>
                </div>
              </div>
            </div>
</uib-accordion>
    </div>
</div>