<div style="background-color:#88d6fa">
<div class="container">
<div class="row">
    <div class="col-sm-12">
        <h2>{{testDetails.test_name}}</h2>
        <p ng-if="userTest.remember">Користувач: {{testDetails.username}}</p>
        <p ng-if="userTest.remember">Код для отримання результату <small>(Збережіть його, щоб потім можна було відшукати Ваш результат):</small> <span style="color:red">{{testDetails.result_code}}</span></p>
    </div>
</div>
<div class="form-group question" ng-if="currentQuestion.type == 'multipleChoiceGrammar'">
    <div class="row">
        <div class="col-sm-12">
            <h5 class="task"><strong>{{currentQuestion.task}}</strong></h5>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
                    <div class="form-group">
                        <div><h4>{{currentQuestion.sentence}}</h4></div>
                        <div class="row" ng-repeat="option in currentQuestion.q">
                            <div class="col-xs-1" style="text-align: right; padding-right: 3px;">
                                <input type="checkbox" class="form-control" id="{{option.statement}}" ng-model="option.add" ng-change="processTrueOrFalseClick(currentQuestion, option)">
                            </div>
                            <div class="col-xs-6" style="padding-top:10px">
                                <label class="option" ng-class="{'option-selected':option.add}" for="{{option.statement}}">{{option.statement}}</label>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    <div class="row">
        <div class="col-lg-offset-2 col-lg-2 col-sm-6 col-xs-12">
            <button class="btn btn-md submit-btn" type="submit" ng-click="checkTrueOrFalse(currentQuestion)">Зберегти відповідь</button>
        </div>  
        <div class="col-lg-2 col-sm-6 col-xs-12">
             <button class="btn btn-md stop-btn" type="submit" ng-click="showResult()">Показати результат</button>
        </div> 
    </div>
</div>
<!--        Match question-->
        <div class="form-group question" ng-if="currentQuestion.type == 'match'">
            <div class="row">
                <div class="col-xs-12">
                    <h5 class="task"><strong>{{currentQuestion.task}}</strong></h5>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="row" ng-repeat="left in currentQuestion.left">
                        <div class="col-xs-4" style="padding-top:10px">
                            <label class="option-match" for="{{left.word}}" ng-style="{color: getColorLeft(left.id)}">{{left.word}}</label>
                        </div>
                        <div class="col-xs-1" style="text-align: right; padding-right: 3px;">
                            <input type="checkbox" class="form-control" id="{{left.word}}" ng-model="left.add" ng-click="handleLeftClick(left)">
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="row" ng-repeat="right in currentQuestion.right">
                        <div class="col-xs-1" style="text-align: right; padding-right: 3px;">
                            <input type="checkbox" class="form-control" id="{{right.word}}" ng-model="right.add" ng-click="handleRightClick(right)">
                        </div>
                        <div class="col-xs-6" style="padding-top:10px">
                            <label class="option-match" for="{{right.word}}" ng-style="{color: getColorRight(right.id)}">{{right.word}}</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
            <div class="col-lg-offset-2 col-lg-2 col-sm-6 col-xs-12">
                <button class="btn btn-md submit-btn" type="submit" ng-click="checkMatchQuestion(currentQuestion)">Зберегти відповідь</button>
            </div>
                <div class="col-lg-2 col-sm-6 col-xs-12">
             <button class="btn btn-md stop-btn" type="submit" ng-click="showResult()">Показати результат</button>
        </div> 
        </div>
        </div>

<!--        End of match question--> 
        
<!--        Text true or false question-->
        <div class="form-group question" ng-if="currentQuestion.type == 'textTrueOrFalse'">
            <div class="row">
                <div class="col-xs-12">
                    <h5 class="task"><strong>{{currentQuestion.task}}</strong></h5>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p>
                    {{currentQuestion.text}}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="row" ng-repeat="statement in currentQuestion.q">
                        <div class="col-xs-1" style="text-align: right; padding-right: 3px;">
                            <input type="checkbox" class="form-control" id="{{ttof+statement.id}}" ng-model="statement.add" ng-change="processTrueOrFalseClick(currentQuestion, statement)">
                        </div>
                        <div class="col-xs-6" style="padding-top:10px">
                            <label class="option" ng-class="{'option-selected':statement.add}" for="{{ttof+statement.id}}">{{statement.statement}}</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-offset-2 col-lg-2 col-sm-6 col-xs-12">
                        <button class="btn btn-md submit-btn" type="submit" ng-click="checkTrueOrFalse(currentQuestion)">Зберегти відповідь</button>
                    </div>
                <div class="col-lg-2 col-sm-6 col-xs-12">
             <button class="btn btn-md stop-btn" type="submit" ng-click="showResult()">Показати результат</button>
        </div> 
            <!--                <button class="btn btn-md btn-danger" type="submit" ng-click="printResult()">Отримати результат</button>-->
            </div>
        </div>
 <!--        End of text true or false question-->
        
<!-- Odd word out question        -->
        <div class="form-group question" ng-if="currentQuestion.type == 'oddWordOut'">
            <div class="row">
                <div class="col-xs-12">
                    <h5 class="task"><strong>{{currentQuestion.task}}</strong></h5>
                </div>
                <div class="col-xs-12">
                    <div class="option-oddwordout" ng-class="{'option-selected':word==currentQuestion.a}" ng-repeat="word in currentQuestion.wordlist" ng-click="setOddWordAnswer(word)">
                    <label class="radio-inline">
                      <input type="radio" name="oddword" value="{{word}}" ng-model="currentQuestion.a" ng-click="printOdd()">{{word}}
                    </label>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-lg-offset-2 col-lg-2 col-sm-6 col-xs-12">
                    <button class="btn btn-md submit-btn" type="submit" ng-click="checkOddWordOutQuestion(currentQuestion)">Зберегти відповідь</button>
                </div>
                <div class="col-lg-2 col-sm-6 col-xs-12">
                    <button class="btn btn-md stop-btn" type="submit" ng-click="showResult()">Показати результат</button>
                </div>  
            </div>
    </div>
<!--        End of odd word out question-->

<!--        listeningQuestion-->
        <div class="form-group question" ng-if="currentQuestion.type == 'listeningTrueOrFalse'">
            <div class="row">
                <div class="col-xs-12">
                     <h5 class="task"><strong>{{currentQuestion.task}}</strong></h5>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                     <audio controls>
                        <source src="{{currentQuestion.audio}}" type="audio/mpeg">
                         Ваш браузер не підтримує аудіо
                    </audio>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                     <div class="row" ng-repeat="statement in currentQuestion.q">
                        <div class="col-xs-1" style="text-align: right; padding-right: 3px;">
                            <input type="checkbox" class="form-control" id="{{l+statement.id}}" ng-model="statement.add" ng-change="processTrueOrFalseClick(currentQuestion, statement)">
                        </div>
                        <div class="col-xs-6" style="padding-top:10px">
                            <label class="option" ng-class="{'option-selected':statement.add}" for="{{l+statement.id}}">{{statement.statement}}</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-offset-2 col-lg-2 col-sm-6 col-xs-12">
                        <button class="btn btn-md submit-btn" type="submit" ng-click="checkTrueOrFalse(currentQuestion)">Зберегти відповідь</button></div>
                    <div class="col-lg-2 col-sm-6 col-xs-12">
             <button class="btn btn-md stop-btn" type="submit" ng-click="showResult()">Показати результат</button>
        </div> 
                    </div>
            <!--                <button class="btn btn-md btn-danger" type="submit" ng-click="printResult()">Отримати результат</button>-->
            </div>
        </div>
        
<!--        End of listening question-->
        
        
    </div>
</div>
</div>
</div>