<div style="background-color:#88d6fa">
<div>
          <!--               ----------------------------------English language services block--------------------------------------->
                <div id="english" class="container" style="padding-top:50px;">
                    <div class="row" style="border-top: solid 2px white; padding-top:2%">
                        <div class="col-md-2 col-xs-12 page-head">
                                <h3 style="color:white">Англійська мова</h3>
                        </div>

    <!--                    English container-->
                        <div class="col-md-10 col-xs-12">
                        <uib-accordion close-others="true"> 
                            <div uib-accordion-group class="panel-default" heading="В групі 6-14 чоловік" is-open="false" is-disabled="false">
                                  <div class="panel-body">
                                    <table class="table">
                                        <tbody>
                                          <tr>
                                            <td style="border-top:0px;">
                                                <h6><strong>ПОГЛИБЛЕНЕ ВИВЧЕННЯ</strong></h6>
                                                Вартість навчання за 10 занять по <strong>1 год.</strong> (<i>для найменших діток по 45 хв.</i>)
                                            </td>
                                            <td style="border-top:0px;">
                                                <strong>370 грн</strong>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td>
                                                <h6><strong>ПОГЛИБЛЕНЕ ВИВЧЕННЯ</strong></h6>
                                                Вартість навчання за 10 занять по <strong>1 год. 20 хв</strong>
                                            </td>
                                            <td><strong>495 грн</strong></td>
                                          </tr>
                                            <tr>
                                            <td>
                                                <h5><strong><i class="fa fa-gift"></i> Знижки:</strong></h5>
                                                <ul>
                                                    <li>на вивчення двох мов однією особою: <span class="label label-danger">-10% на другу мову</span></li>
                                                    <li>на навчання двох або більше дітей з однієї сім’ї: <span class="label label-danger">-5% кожній дитині</span></li>
                                                </ul>
                                            </td>
                                            
                                            </tr>
                                        </tbody>
                                      </table>
                                  </div>
                               
                            </div>
                                
                                
                               <div uib-accordion-group class="panel-default" heading="В групі 2-5 чоловік" is-open="false" is-disabled="false"> 
                                  <div class="panel-body">
                                    <table class="table">
                                        <tbody>
                                          <tr>
                                            <td style="border-top:0px;">
                                                <h6><strong>ПОГЛИБЛЕНЕ ВИВЧЕННЯ</strong></h6>
                                                Вартість навчання за 10 занять по <strong>1 год.</strong> (<i>для найменших діток по 45 хв.</i>)
                                            </td>
                                            <td style="border-top:0px;"><strong>480 грн</strong></td>
                                          </tr>
                                          <tr>
                                            <td>
                                                <h6><strong>ПОГЛИБЛЕНЕ ВИВЧЕННЯ</strong></h6>
                                                Вартість навчання за 10 занять по <strong>1 год. 20 хв</strong>
                                            </td>
                                            <td><strong>600 грн</strong></td>
                                          </tr>
                                            <tr>
                                             <td>
                                                <h5><strong><i class="fa fa-gift"></i> Знижки:</strong></h5>
                                                <ul>
                                                    <li>на вивчення двох мов однією особою: <span class="label label-danger">-10% на другу мову</span></li>
                                                    <li>на навчання двох або більше дітей з однієї сім’ї: <span class="label label-danger">-5% кожній дитині</span></li>
                                                </ul>
                                            </td>
                                            </tr>
                                        </tbody>
                                      </table>
                                  </div>                              
                            </div>  
                                
                                
                               <div uib-accordion-group class="panel-default" heading="Індивідуальні заняття" is-open="false" is-disabled="false"> 
                                  <div class="panel-body">
                                    <table class="table">
                                        <tbody>
                                          <tr>
                                            <td style="border-top:0px;">
                                                <h6><strong>ПОГЛИБЛЕНЕ ВИВЧЕННЯ</strong></h6>
                                                Вартість навчання за 10 занять по <strong>1 год.</strong> (<i>для найменших діток по 45 хв.</i>)
                                            </td>
                                            <td style="border-top:0px;"><strong>1000 грн</strong></td>
                                          </tr>
                                          <tr>
                                            <td>
                                                <h6><strong>ПОГЛИБЛЕНЕ ВИВЧЕННЯ</strong></h6>
                                                Вартість навчання за 10 занять по <strong>1 год. 20 хв</strong>
                                            </td>
                                            <td><strong>1450 грн</strong></td>
                                          </tr>
                                          <tr>
                                            <td>
                                                <h6><strong>ЗАНЯТТЯ ПО SKYPE, VIBER</strong></h6>
                                                Вартість навчання за 10 занять по <strong>1 год.</strong>
                                            </td>
                                            <td><strong>1600 грн</strong></td>
                                          </tr>
                                             <tr>
                                             <td>
                                                <h5><strong><i class="fa fa-gift"></i> Знижки:</strong></h5>
                                                <ul>
                                                    <li>на вивчення двох мов однією особою: <span class="label label-danger">-10% на другу мову</span></li>
                                                    <li>на навчання двох або більше дітей з однієї сім’ї: <span class="label label-danger">-5% кожній дитині</span></li>
                                                </ul>
                                            </td>
                                            </tr>
                                        </tbody>
                                      </table>
                                  </div>
                                </div>  
                                
                                
                        
                    </uib-accordion>
                        </div>
                  </div>
                </div>
               <!--end of English language services block-->
          
          <!--               ----------------------------------German language services block--------------------------------------->
                <div id="german" class="container" style="padding-top:25px;">
                    <div class="row" style="border-top: solid 2px white; padding-top:2%">
                        <div class="col-md-2 col-xs-12 page-head">
                                <h3 style="color:white">Німецька мова</h3>
                        </div>

    <!--                    German container-->
                        <div class="col-md-10 col-xs-12">
                            
                            <uib-accordion close-others="true">
                            <div class="panel-group" id="accordion-ger" role="tablist" aria-multiselectable="true">
                                
                                
                              <div uib-accordion-group class="panel-default" heading="В групі 6-14 чоловік" is-open="false" is-disabled="false">
                                  <div class="panel-body">
                                    <table class="table">
                                        <tbody>
                                          <tr>
                                            <td style="border-top:0px;">
                                                <h6><strong>ПОГЛИБЛЕНЕ ВИВЧЕННЯ</strong></h6>
                                                Вартість навчання за 10 занять по <strong>1 год.</strong> (<i>для найменших діток по 45 хв.</i>)
                                            </td>
                                            <td style="border-top:0px;">
                                                <strong>320 грн</strong>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td>
                                                <h6><strong>ПОГЛИБЛЕНЕ ВИВЧЕННЯ</strong></h6>
                                                Вартість навчання за 10 занять по <strong>1 год. 20 хв</strong>
                                            </td>
                                            <td><strong>450 грн</strong></td>
                                          </tr>
                                            <tr>
                                            <td>
                                                <h5><strong><i class="fa fa-gift"></i> Знижки:</strong></h5>
                                                <ul>
                                                    <li>на вивчення двох мов однією особою: <span class="label label-danger">-10% на другу мову</span></li>
                                                    <li>на навчання двох або більше дітей з однієї сім’ї: <span class="label label-danger">-5% кожній дитині</span></li>
                                                </ul>
                                            </td>
                                            
                                            </tr>
                                        </tbody>
                                      </table>
                                  </div>
                              </div>
                                
                                
                              <div uib-accordion-group class="panel-default" heading="В групі 2-5 чоловік" is-open="false" is-disabled="false">  
                                  <div class="panel-body">
                                    <table class="table">
                                        <tbody>
                                          <tr>
                                            <td style="border-top:0px;">
                                                <h6><strong>ПОГЛИБЛЕНЕ ВИВЧЕННЯ</strong></h6>
                                                Вартість навчання за 10 занять по <strong>1 год.</strong> (<i>для найменших діток по 45 хв.</i>)
                                            </td>
                                            <td style="border-top:0px;"><strong>420 грн</strong></td>
                                          </tr>
                                          <tr>
                                            <td>
                                                <h6><strong>ПОГЛИБЛЕНЕ ВИВЧЕННЯ</strong></h6>
                                                Вартість навчання за 10 занять по <strong>1 год. 20 хв</strong>
                                            </td>
                                            <td><strong>540 грн</strong></td>
                                          </tr>
                                            <tr>
                                             <td>
                                                <h5><strong><i class="fa fa-gift"></i> Знижки:</strong></h5>
                                                <ul>
                                                    <li>на вивчення двох мов однією особою: <span class="label label-danger">-10% на другу мову</span></li>
                                                    <li>на навчання двох або більше дітей з однієї сім’ї: <span class="label label-danger">-5% кожній дитині</span></li>
                                                </ul>
                                            </td>
                                            </tr>
                                        </tbody>
                                      </table>
                                  </div>
                              </div>
                                
                               <div uib-accordion-group class="panel-default" heading="Індивідуальні заняття" is-open="false" is-disabled="false">  
                                  <div class="panel-body">
                                    <table class="table">
                                        <tbody>
                                          <tr>
                                            <td style="border-top:0px;">
                                                <h6><strong>ПОГЛИБЛЕНЕ ВИВЧЕННЯ</strong></h6>
                                                Вартість навчання за 10 занять по <strong>1 год.</strong> (<i>для найменших діток по 45 хв.</i>)
                                            </td>
                                            <td style="border-top:0px;"><strong>700 грн</strong></td>
                                          </tr>
                                          <tr>
                                            <td>
                                                <h6><strong>ПОГЛИБЛЕНЕ ВИВЧЕННЯ</strong></h6>
                                                Вартість навчання за 10 занять по <strong>1 год. 20 хв</strong>
                                            </td>
                                            <td><strong>1050 грн</strong></td>
                                          </tr>
                                          <tr>
                                            <td>
                                                <h6><strong>ЗАНЯТТЯ ПО SKYPE, VIBER</strong></h6>
                                                Вартість навчання за 10 занять по <strong>1 год.</strong>
                                            </td>
                                            <td><strong>1140 грн</strong></td>
                                          </tr>
                                             <tr>
                                             <td>
                                                <h5><strong><i class="fa fa-gift"></i> Знижки:</strong></h5>
                                                <ul>
                                                    <li>на вивчення двох мов однією особою: <span class="label label-danger">-10% на другу мову</span></li>
                                                    <li>на навчання двох або більше дітей з однієї сім’ї: <span class="label label-danger">-5% кожній дитині</span></li>
                                                </ul>
                                            </td>
                                            </tr>
                                        </tbody>
                                      </table>
                                  </div>
                              </div>
                                
                                
                                
                        </div>
                            </uib-accordion>
                            
                            
                            
                        </div>
                  </div>
                </div>
               <!--end of German language services block-->
          </div>
<!--          ---------------------------------End of German -------------------------------------------->
<!--          -------------------------------------Start of other services------------------------------------->
          <div id="other" class="container" style="padding-top:25px;">
                <div class="row" style="border-top: solid 2px white; padding-top:2%">
                    <div class="col-md-2 col-xs-12 page-head">
                        
                            <h3 style="color:white">Інші послуги</h3>
                        
                         
                    </div>
                
<!--                    About us container-->
                <div class="col-md-10 col-xs-12">
                    <div class="panel panel-default">
                      <!-- Default panel contents -->
                      <div class="panel-body">
                        <p>За іншими послугами потрібно звертатись безпосередньо до викладачів школи.<br>
                            Перелік інших послуг клубу:
                        </p>
                        <p>
                            <ul>
                                <li>Підготовка до ЗНО, ДПА;</li>
                                <li>Корпоративне навчання із виїздом;</li>
                                <li>Корекційні групи (для виконання д/з та пояснення шкільного матеріалу);</li>
                                <li>Виконання к/р, рефератів, переклад документів.</li>
                              </ul>
                        </p>
                      </div>

                      <!-- List group -->
                      
                    </div>
                 
                </div>
              </div>
                </div>
</div>
               <!--end of about us block-->
<!--          ------------------------------------------End of other services---------------------------------------->